body {
  background-repeat: no-repeat;
  font-family: Raleway, Montserrat, "Open Sans", sans-serif;
}

.navbar-brand {
  line-height: 1rem;
}

.real-name {
  font-size: 0.5rem;
}

.nav-link.active {
  color: #c5cacd;
}